#game-container {
  background-color: red;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#status-bars {
  background-color: blue;
  align-self: flex-start;
  width: 100%;
  flex-wrap: wrap;
  height: 10%;
}

#hand {
  height: max-content;
  background-color: yellow;
  height: 90%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#console {
  height: 400px;
  background-color: gray;
  margin-top: 20px;
  width: 100%;
  overflow: auto;
}

.card {
  width: 90%;
  height: 200px;
  background-color: orange;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 10px;
  border: double black;
}

.card p.turn {
  align-self: flex-end;
  padding-right: 10px;
}

.card img {
  width: 35%;
}

#hand :hover {
  opacity: 0.9;
  border: solid white;
  color: white;
}

#hand p:hover {
  border: none;
}

#hand img:hover {
  border: none;
}

.turned {
  background-color: ;
}
