/* Jogo inteiro, com as barras, hand, e tela de jogo */
#game-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* Proprio game container */
main {
  display: flex;
  background-image: url(Images/Background/stone.jpg);
}

/* Container externo das de status, com barras que contam com com HP e MP dos player e do enemy, também com os ícones */

#status-bars {
  /* background-color: slateblue; */
  width: 100%;
  flex-wrap: wrap;
  height: 10%;
}

/* Container da mão de cartas do personagem */
#hand {
  height: max-content;
  /* background-color: yellow; */
  height: 90%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Propriedadades das cartas de skills */
.card {
  width: 90%;
  height: 200px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border: double black;
}

.card p {
  font-size: 30px;
  margin: 0;
  text-decoration: underline;
}

.card .card-mana-cost {
  color: rgb(66, 163, 181);
}

.card div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card img {
  height: 50%;
  width: 50%;
}

.card div p {
  font-size: 22px;
  text-decoration: none;
}

/* Propriedades de Hover da #hand */
#hand .unturned:hover {
  opacity: 0.9;
  border: solid white;
  color: white;
}

.card:hover .card-mana-cost {
  color: white;
}

#hand div.card div:hover,
#hand p:hover {
  border: none;
}

#hand img:hover {
  border: none;
}

/* Cartas viradas */
.turned {
  background-image: url(Images/cardBack/Backgorund.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(5, 43, 5) !important;
  border: solid black;
}

.turned img,
.turned p,
.turned div div {
  display: none;
}

#hand .turned:hover {
  border: solid black;
  opacity: 1;
}

/* Console de batalha do jogo, onde são escritos os textos */

#console {
  height: 600px;
  background-color: gray;
  margin-top: 20px;
  width: 100%;
  overflow: auto;
  word-wrap: break-word;

  font-size: 25px;
}
#console p {
  padding-left: 30px;
}
#console h2 {
  color: rgb(51, 51, 51);
  padding-left: 50px;
  text-decoration: underline;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#end-turn {
  background-color: black;
  color: red;
  text-align: center;
  width: 80px;
  height: 60px;
  font-size: 20px;
  align-self: center;
  font-weight: 600;
  line-height: 150%;
  border: solid red;
}

#end-turn:hover {
  border: solid white;
  opacity: 0.8;
  color: white;
}

#status-bars {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bars-character {
  background-color: rgba(211, 211, 211, 0.44);
  border-radius: 10%;
  height: 80%;
  display: flex;
  width: 20%;
}

.bars-character img {
  height: 100%;
  border-radius: 100%;
  background-color: teal;
}

.hp-mana-box {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hp-container,
.mp-container {
  background-color: gray;
  height: 40%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hp-text {
  text-align: center;
  color: white;
  opacity: 1;
  position: absolute;
  margin: 0px;
  text-align: center;
  justify-self: center;
  align-self: center;
  opacity: 0.1;
}

.mp-text {
  text-align: center;
  color: white;
  opacity: 1;
  margin: 0px;
  position: absolute;
  justify-self: center;
  align-self: center;
  opacity: 0.1;
}

.hp-text:hover {
  opacity: 1;
}

.mp-text:hover {
  opacity: 1;
}

.hp {
  height: 100%;
  width: 100%;
  background-color: red;
  align-self: flex-start;
  transition: 1s;
}

.mp {
  height: 100%;
  width: 100%;
  background-color: blue;
  align-self: flex-start;
  transition: 1s;
}

.bar-enemy {
  background-color: rgba(95, 2, 2, 0.583);
  border-radius: 8%;
  height: 80%;
  display: flex;
  width: 55%;
}

.bar-enemy img {
  height: 100%;
  border-radius: 100%;
  background-color: rgb(100, 66, 104);
}

.bar-enemy .hp-mana-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bar-enemy .hp-container {
  background-color: rgb(100, 66, 104);
  height: 60%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.bar-enemy .hp-text {
  text-align: center;
  color: white;
  opacity: 1;
  position: absolute;
  margin: 0px;
  text-align: center;
  justify-self: center;
  align-self: center;
  opacity: 0.1;
  font-size: 50px;
}

.bar-enemy .hp-text:hover {
  opacity: 1;
}
/* Área do jogo, com todos os players, effect e o enemy */

#game-screen {
  background-image: url(Images/land-scape/Vale.jpg);
  background-size: cover;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

/* Div do character */
.character {
  width: 25%;
  height: 30%;
  align-self: flex-end;
  background-image: url(Images/character-animations/character.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Efeitos de magia */
.effect {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

/* Div do enemy */
.monster {
  width: 30%;
  height: 40%;
  align-self: flex-start;
  position: absolute;
  background-image: url(Images/character-animations/dragon2.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Abaixo da #hand, com botão de skipturn e display das Actions */

#skipTurnActions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-bottom: 10px;
}

#actionsDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  background-color: lightgray;
  width: 80px;
  height: 80px;
  justify-content: space-between;
}

#actionsDiv p {
  padding-top: 5px;
  margin: 0;
  font-size: 20px;
}

#actionsDiv #actions {
  padding-bottom: 15px;
  font-size: 30px;
  color: purple;
  font-weight: 800;
}

#handcover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.33);
  width: 20%;
  height: 90%;
  display: none;
}
